html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  --main-color: #4db6ac;
  --main-color-light: #82e9de;
  --main-color-dark: #00867d;

  --normal-radius: 10px;
}

body {
  display: grid;
  grid-template-rows: [first] 50px [row1] 50px [row2] 50px [row3] 50px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
  background-color: var(--main-color);
  transition: all 0.5s ease-out;
}

input {
  background-color: var(--main-color-light);
  border-color: var(--main-color-dark);
  border-radius: var(--normal-radius);
}

button {
  background-color: var(--main-color-dark);
  color: white;
  border-radius: var(--normal-radius);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #cb3837;
}
